version: '3.8'

services:
  server:
    build: ./server
    ports:
      - "3000:3000"
    volumes:
      - ./server:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development

  web:
    build: ./web
    ports:
      - "3001:3001"
    volumes:
      - ./web:/app
      - /app/node_modules
    depends_on:
      - server
